<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Kangamoov</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">    
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/users/:firstnum" method="GET">
        <input
          type="text"
          name="firstnum"
          class="form-control mr-sm-2"
          placeholder="ทะเบียนรถ"
          required
        />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <br>
          <h1 class="mt-4" align="center">Profile</h1>
              <label for="name">Name : </label>
              <p style="width: 100%;padding: 10px;border: 1px solid black;"><%= user.name %><br></p>
              <label for="email">Email</label>
              <p style="width: 100%;padding: 10px;border: 1px solid black;"><%= user.email %><br></p>
              <label for="telephone">Telephone</label>
              <p style="width: 100%;padding: 10px;border: 1px solid black;"><%= user.telephone %><br></p>
              <label for="secondnum">ทะเบียน</label>
              <p style="width: 100%;padding: 10px;border: 1px solid black;"><%= user.firstnum %></p>              
              <br><p align="center"><a href="/users/logout" class="btn btn-secondary" style="width: 100px;">Logout</a></p>                         
</div>