<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<h1>ค้นหาเลขทะเบียน</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<form action="" method="POST">
   <input
   className='footer-input'
   name='name2'
   type='name'
   placeholder='Number'
   /> 
<a href="/users/:firstnum" class="btn btn-secondary">search</a>

</form>
<div class = form-group>
    <label for ="firstnum">ใส่เลขชุดแรกของท่าน</label>

</div>