<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="https://images-platform.99static.com//uBHFGaLfYeszACdjYJvbb4qCCa4=/0x1601:532x2133/fit-in/500x500/99designs-contests-attachments/98/98716/attachment_98716968" alt="Kangamoov-logo"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
