
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
body{
    font-family: 'Didact Gothic';
    
}

.vide{
    object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.container{
    height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  object-fit: contain;
}
.container > h1{
    color: #fff;
  font-size: 100px;
  margin-top: -100px;
  font-weight: 700;
}
.container > p{
    margin-top: 8px;
  color: #fff;
  font-size: 32px;
  text-align: center;

}

.btn-general{
border-radius: 28px;
font-family: 'Didact Gothic';
font-size: 13px;
text-transform: uppercase;
margin: 0 6px;
padding: 12px 46px 12px 46px;
transition: all 0.4s;
background-color: orange;
color: white;
}
.btn-genes{
border-radius: 28px;
font-family: 'Didact Gothic';
font-size: 13px;
text-transform: uppercase;
margin: 0 6px;
padding: 12px 46px 12px 46px;
transition: all 0.4s;
background-color: rgb(49, 206, 70);
color: white;
}
 

  </style>
</head>
  <body>
      
      <div class="container">
          <video class="vide"src="../public/12.mp4" autoplay muted loop>

          </video>
          <h1>Welcome to <span style="color: rgb(0, 217, 255);">Veicolo</span> </h1>
          <p> Double parking is one of the key contributors to traffic congestion on urban streets.
            Veicolo is the website that provides a solution to double parking problem.</p> <br>
          <div class="home-button">
            <a href="/users/login" class="btn-general"role="button">Sign in</a>&nbsp;&nbsp;&nbsp;
            <a href="/users/register" class="btn-genes"role="button">Sign up</a>
          </div>
          
      </div>
    
  
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>










